<h1>My Articles List</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Author</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <% if article.user == current_user %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td>Me</td>
        <td><%= link_to 'Details', article, class: 'btn btn-sm btn-outline-info' %></td>

        <td><% if can? :update, article %><%= link_to 'Edit', edit_article_path(article), class: 'btn btn-sm btn-outline-warning' %><% end %></td>
        <td><% if can? :destroy, article %><%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %><% end %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= pagy_bootstrap_nav(@pagy).html_safe %>

<br>

<%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
